.element__like_active {
    width: 22px;
    margin-top: 5px;
    background-image: url(../../../../images/likebtnBlk.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.element__like:hover {
    transition-duration: 1s;
    opacity: 0.8;
}