.popup__save-btn {
    width: 358px;
    border: none;
    border-radius: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px auto 37px;
    cursor: pointer;
    outline: none;
}

.popup__save-btn:hover {
    transition-duration: 1s;
    opacity: 0.8;
}

@media screen and (min-width:320px) and (max-width:760px) {
    .popup__save-btn {
        width: 238px;
    }
}