.profile__addButton {
    width: 150px;
    align-self: center;
    cursor: pointer;
}

.profile__addButton:hover {
    transition-duration: 1s;
    opacity: 0.6;
}

@media screen and (min-width:320px) and (max-width:760px) {
    .profile__addButton {
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
}