.profile__info_status {
    margin: 16px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    .profile__info_status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    }
}